@(form: Form[Adminpanel.GoodsForm])

<!DOCTYPE html>
<html lang="en">

@head()

<body>

@header()

    <div class="container">
            <div class="col-sm-6">
                <div class="signup-form"><!--sign up form-->
                    <h2 class="title text-center">Добавить товар:</h2>
                    @helper.form(routes.Adminpanel.addPostGoods, 'enctype -> "multipart/form-data") {
                        @if(form.hasGlobalErrors) {
                            <span style="color: red">
                            @form.globalError.message
                            </span>
                        }
                        <input type="text" name="name" placeholder="Название товара"/>
                        <input type="number" name="price" placeholder="Цена"/>
                        <select id="method" name="method">
                            <option disabled value="" selected>Способ доставки товара</option>
                            <option value="shipping">Ручная доставка</option>
                            <option value="emailshipping">По электронному адресу</option>
                        </select>
                        <br> <br>
                        <textarea type="text" rows="10" cols="45" name="description" placeholder="Опишите товар подробно"></textarea>
                        <br><br>
                        <input type="file" name="picture" accept="image/jpeg">
                        <button type="submit" class="btn btn-default">Добавить</button>
                    }

                </div>
                <!--/sign up form-->
            </div>
    </div>
    <br>
<!--/form-->

@footer()
@footerScript()

</body>
</html>
