<script src="@routes.Assets.at("shop/js/jquery.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("shop/js/bootstrap.min.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("shop/js/jquery.scrollUp.min.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("shop/js/price-range.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("shop/js/jquery.prettyPhoto.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("shop/js/main.js")" type="text/javascript"></script>