<footer id="footer"><!--Footer-->
	<div class="footer-top">
		<div class="container">
			<div class="row">
				<div class="col-sm-2">
					<div class="companyinfo">
						<a href="index.html"><img src="@routes.Assets.at("shop/images/logo3.gif")" alt="" /></a>
						<p>Отечественная компания информационных технологий (ИТ) Казахстана</p>
					</div>
				</div>
				<div class="col-sm-7">
					<div class="col-sm-3">
						<div class="video-gallery text-center">
							<a href="#">
								<div class="iframe-img">
									<img src="images/home/iframe1.png" alt="" />
								</div>
								<div class="overlay-icon">
									<i class="fa fa-play-circle-o"></i>
								</div>
							</a>
							<p>Поисковой портал MOKA</p>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="video-gallery text-center">
							<a href="#">
								<div class="iframe-img">
									<img src="images/home/iframe2.png" alt="" />
								</div>
								<div class="overlay-icon">
									<i class="fa fa-play-circle-o"></i>
								</div>
							</a>
							<p>Игра Sozger</p>
						</div>
					</div>

					<div class="col-sm-3">
						<div class="video-gallery text-center">
							<a href="#">
								<div class="iframe-img">
									<img src="images/home/iframe3.png" alt="" />
								</div>
								<div class="overlay-icon">
									<i class="fa fa-play-circle-o"></i>
								</div>
							</a>
							<p>система iCredit</p>
						</div>
					</div>

					<div class="col-sm-3">
						<div class="video-gallery text-center">
							<a href="#">
								<div class="iframe-img">
									<img src="images/home/iframe4.png" alt="" />
								</div>
								<div class="overlay-icon">
									<i class="fa fa-play-circle-o"></i>
								</div>
							</a>
							<p>EDO</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="footer-widget">
		<div class="container">
			<div class="row">
				<div class="col-sm-2">
					<div class="single-widget">
						<h2>Сервис</h2>
						<ul class="nav nav-pills nav-stacked">
							<li><a href="faqs">FAQ’s</a></li>
							<li><a href="scheme">Схема установки</a></li>
							<li><a href="activate">Активация</a></li>
							<li><a href="support">Техническая поддержка</a></li>
						</ul>
					</div>
				</div>
				<div class="col-sm-2">
					<div class="single-widget">
						<h2>Купить</h2>
						<ul class="nav nav-pills nav-stacked">
							<li><a href="#">СозКомек3.0</a></li>
							<li><a href="#">СозКомек4.0</a></li>
							<li><a href="#">Где купить?</a></li>
						</ul>
					</div>
				</div>
				<div class="col-sm-2">
					<div class="single-widget">
						<h2>О нас</h2>
						<ul class="nav nav-pills nav-stacked">
							<li><a href="obimash">О BIMASH</a></li>
							<li><a href="productbimash">Продукты</a></li>
							<li><a href="contactbimash">Контакты</a></li>
						</ul>
					</div>
				</div>
				<div class="col-sm-2">
					<div class="single-widget">
						<h2>Аккаунт</h2>
						<ul class="nav nav-pills nav-stacked">
							<li><a href="#">Личные данные</a></li>
							<li><a href="#">История покупок</a></li>
							<li><a href="#">Корзина</a></li>
						</ul>
					</div>
				</div>
				<div class="col-sm-3 col-sm-offset-1">
					<div class="single-widget"><h2>Подписка</h2>
						<form action="#" class="searchform">
							<input type="text" placeholder="Ваш email адрес" />
							<button type="submit" class="btn btn-default"><i class="fa fa-arrow-circle-o-right"></i></button>
							<p>Подпишитесь на наши новости <br />и вы всегда...</p>
						</form>
					</div>
				</div>

			</div>
		</div>
	</div>

	<div class="footer-bottom">
		<div class="container">
			<div class="row">
				<p class="pull-left">Copyright © 2015 BIMASH Inc. All rights reserved.</p>
				<p class="pull-right">Designed by <span><a target="_blank" href="http://www.themeum.com">Themeum</a></span></p>
			</div>
		</div>
	</div>

</footer><!--/Footer-->