@(form: Form[Application.Login])

<!DOCTYPE html>
<html lang="en">

@head()

<body>

@header()

    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-1">
                <div class="login-form"><!--login form-->
                    <h2>Авторизация</h2>
                    @helper.form(routes.Application.authenticate) {
                        @if(form.hasGlobalErrors) {
                        <span style="color: red">
                            @form.globalError.message
                        </span>
                        }
                        <input type="email" name="email" placeholder="Email" value="@form(" email").value">
                        <input type="password" name="password" placeholder="Пароль">

                        <div>Если у вас нет аккаунта в нашей системе, то пройдите <a href="/registration">РЕГИСТРАЦИЮ</a></div>
                        <button type="submit" class="btn btn-default">ОК</button>
                    }
                </div>
                <!--/login form-->
            </div>
        </div>
    </div>
    <br>
<!--/form-->

@footer()
@footerScript()

</body>
</html>
