@(message: String)

<!DOCTYPE html>
<html lang="en">

    @head()

        <body>

            @header()

        <section>
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="blog-post-area">
                            <h2 class="title text-center">Схема установки</h2>
                            <div class="single-blog-post">
                                <img src="@routes.Assets.at("images/KimcrgNfq_4.jpg")" alt="" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

            @footer()
            @footerScript()

</body>
</html>
